body {
	font-family: sans-serif;
}

.nav-bar {
	display: flex;
	/*flex-grow: 2;*/
	/*position: fixed;*/
	margin-top: 0px;
	margin-left: -30px;
	padding: 0px;
	/*overflow: hidden;*/
	font-size: 20px;
	width: 100%;
}

ul {
	background-color: #7f0000;
	width: 100%;
	list-style-type: none;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #7f0000;
}

.active {
background-color:#b20000;
}

h3 {
	font-size: 28px;
	letter-spacing: 2px;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #7f0000;
	text-align: center;
}

p {
	margin: 1;
	text-align: center;
}

button {
	background-color:#b20000;
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
}
